# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# IDE files
Source/.idea

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Source/.vs/BetterPawnControl/v14
/Source/bin
/Source/obj
/Source/.vs/
/.vs/
/About/PublishedFileId.txt
/Assemblies/UnityEngine.TextRenderingModule.dll
/Assemblies/UnityEngine.IMGUIModule.dll
/Assemblies/UnityEngine.CoreModule.dll
/Assemblies/HugsLib.xml
/Assemblies/HugsLib.dll
/Assemblies/0Harmony.dll
/Assemblies/BetterPawnControl.pdb
